<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="application/javascript" src="static/toast.umd.js"></script>

    <style>
      html, body {
        margin: 0;
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
      }
    </style>

    <title>JavaScript Toast Messages</title>

  </head>

  <body>

    {% block content %}{% endblock %}

    <toast-info position="top-left">
      <button>Info</button>
    </toast-info>
    <toast-success position="top-right">
      <button>Success</button>
    </toast-success>
    <toast-warning position="bottom-left">
      <button>Warning</button>
    </toast-warning>
    <toast-error position="bottom-right">
      <button>Error</button>
    </toast-eror>

  </body>

</html>
